.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: black;
  height: 60%;
  justify-content: space-between;
}

.token {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
}

.token img {
  max-width: 100%;
  max-height: 100%;
}

.activeContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 50%; */
}

.activeItem {
  display: flex;
  align-items: center;
}

.agency {
  height: 60px;
  width: 60px;
}

.agency img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.playerName {
  cursor: pointer;
}

/* @media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
} */